@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SeoulHangangBold;
  src: url("/fonts/SeoulHangang-Bold.ttf");
  font: normal;
}

@font-face {
  font-family: SeoulHangangExtraBold;
  src: url("/fonts/SeoulHangang-ExtraBold.ttf");
  font: normal;
}

.seoulB {
  font-family: SeoulHangangBold;
}

.seoulEB {
  font-family: SeoulHangangExtraBold;
}
